DISCORD_BOT_TOKEN = abcdefg

# Remove this if you can't be bothered designating an error channel.
ERROR_CHANNEL_ID = 1234567890

# Remove this if you can't be bothered designating a developer role.
DEVELOPER_ROLE_ID = 1234567890

# Set this to 'production' when needed.
NODE_ENV = development

DB_HOST = localhost

DB_USER = postgres

DB_NAME = jukebot

DB_PASSWORD = password123

DB_PORT = 5432:5432
